<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	  	<!-- This rule is allowing requests for domain ownership validation to pass through -->
		<rule name="LetsEncrypt Rule" stopProcessing="true">
			<match url="^\.well-known.*$" />   
			<action type="None" />
		</rule>
        <!-- Enforces redirection of all HTTP traffic to HTTPS -->
        <rule name="Enforce HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>